.main-navigation {
  width: 100%;
  height: 100px;
  background-color: #faf6e9;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.main-navigation > div {
  display: flex;
  align-items: start;
}

.main-navigation > div > img {
  width: 150px;
  height: 100%;
  object-fit: contain;
}
